[submodule "dotfiles/z"]
	path = dotfiles/z
	url = https://github.com/rupa/z
[submodule "dotfiles/fz"]
	path = dotfiles/fz
	url = https://github.com/changyuheng/fz
[submodule "dotfiles/Human-Friendly-Commands"]
	path = dotfiles/Human-Friendly-Commands
	url = https://github.com/chrissound/Human-Friendly-Commands.git
